#conteur{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

 
 
  
}

h2{
    text-align: center;
    text-transform: initial;
    text-shadow: 6px 6px 6px red;

}
.cont-01{
   
    width: 100px;
    height: 100px;
    
}

.cont-01:nth-child(1n){
    background-color: red;
    order: 3;

   
}
.cont-01:nth-child(2n){
    background-color: blue;
    order: 1;
    
}

.cont-01:nth-child(3n){
    background-color: green;
    order: 2;
    flex: 3;
  
}

